* {
    padding: 0;
    margin: 0;
    border: 0;
  }
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: var(--dark);
}
  
ul,
ol,
li {
    list-style: none;
}
  
html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 0;
}

.main {
    flex: 1 1 auto;
}

.box {
    margin: 20px 20px 40px 20px;
}

/* HEADER */

.header {
    padding: 25px 20px;
    background-color: var(--dark);
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.menu__item > a {
    color: var(--white);
}

.logo {
    background-image: url(../icons/icon_profile.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
}

/* WELCOME */

.welcome {

    width: 1440px;
    height: 600px;
}
.welcome_bg {
    position: static;
    width: 100%;
    height: 100%;

    background-image: url(../img/welcome.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome_billet {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 220px;

    width: 600px;
    height: 220px;

    background-color: var(--dark);
}

/* ABOUT */

.about_box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    align-items: center;
}

.card {
    background-repeat: no-repeat;

    width: 450px;
    height: 560px;
}

.about_carusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.carusel {
    display: flex;
    gap: 2.5em;
}

.card-1 {
    background-image: url(../img/image-1.jpg);
}

.card-2 {
    background-image: url(../img/image-2.jpg);
}

.card-3 {
    background-image: url(../img/image-3.jpg);
}

.wrapper_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 26px;
    height: 26px;
}

.about_buttons {
    display: flex;
    align-items: center;
    margin-top: -5px;
}
