@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Forum-Regular";
    src: url(../fonts/Forum-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark: #0C0C0E;
    --black: #000000;
    --gold: #BB945F;
    --white: #FFFFFF;
    --gray: #8E8E8E;
}

.btn {
    width: 75px;
    height: 30px;

    border: 1px solid var(--dark);
    border-radius: 2px;

    cursor: pointer;
    background-color: rgba(28,28,28,0);
}
.btn:hover {
    background-color: var(--gold);
    border: 1px solid var(--gold);
}

.btn-gold {
    width: 75px;
    height: 30px;

    border: 1px solid var(--gold);
    border-radius: 2px;

    cursor: pointer;
    background-color: rgba(28,28,28,0);

    font-family: "Inter-Bold";
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--gold);
}

.btn-text {
    font-family: "Inter-Bold";
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--dark);
}

.btn-big {
    width: 243px;
    height: 44px;

    border: 1px solid var(--dark);
    border-radius: 2px;

    cursor: pointer;
    background-color: rgba(28,28,28,0);
}

.btn-big:hover {
    background-color: var(--gold);
    border: 1px solid var(--gold);
}

.btn-big-text {
    letter-spacing: 1px;
    line-height: auto;
}

.about_button {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: var(--dark);
}
.about_button:hover {
    background-color: var(--gold);
}

.about_button-active {
    background-color: var(--gold);
}

h1 {
    font-family: "Forum-Regular", cursive;
    color: var(--white);
    font-size: 3em;

    letter-spacing: 0.6px;
}

.menu__item {
    font-size: 2em;

}

.welcome_title { 
    font-family: "Forum-Regular";
    color: var(--white);
    font-size: 4em;

    text-transform: uppercase;
    text-align: center;

    letter-spacing: 3px;
    line-height: 50px;
}

h2 {
    font-family: "Forum-Regular";
    color: var(--dark);
    font-size: 4em;

    letter-spacing: 2px;
    line-height: 40px;
}

h3 {
    font-family: "Forum-Regular";
    color: var(--gold);

    font-size: 4em;

    letter-spacing: 2px;
    line-height: 40px;
}

h4 {
    font-family: "Inter-Regular";
    font-size: 3em;

    letter-spacing: 2%;
    line-height: auto;

    text-align: center;
}

h5 {
    font-family: "Forum-Regular";
    font-size: 3em;

    letter-spacing: 0.5px;
    line-height: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.create-line {
    width: 50px;

    border-top: 1px solid var(--dark);
}

.about_discription-text {
    font-family: "Inter-Regular";
    font-size: 2em;
    line-height: 40px;
}

.text {
    font-family: "Inter-Regular";
    font-size: 20px;
}

.text-bold {
    font-family: "Inter-Bold";
    font-size: 20px;
}

.pick-favorites {
    font-family: "Inter-Bold";
    font-size: 2em;
}

.book-staff-title {
    font-family: "Forum-Regular";
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 31px;
}

.staff-line {
    width: 60px;

    border-top: 1px solid var(--gold);
}

.disription-text {
    font-family: "Inter-Regular";
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 40px;

    text-transform: capitalize;
}

.book-name {
    text-transform: uppercase;

    padding-top: 3px;
}

.book-name,
.boot-author {
    font-family: "Inter-Bold";
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 40px;
    
}


.shop-text {
    letter-spacing: 2px;
    line-height: 40px;

    text-align: center;
}

.list_drink,
.list_food {
    font-family: "Inter-Regular";
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 40px;

    text-transform: capitalize;
}
.list_price {
    font-family: "Forum-Regular";
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 40px;
}

.inquiries_text-bold {
    font-family: "Inter-Bold";
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 40px;
}

.inquiries {
    font-family: "Inter-Regular";
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 40px;

    text-transform: capitalize;
}

.label {
    font-family: "Forum-Regular";
    font-size: 3em;
    letter-spacing: 2%;
    line-height: 50px;
}
.label-title {
    font-family: "Forum-Regular";
    font-size: 3em;
    letter-spacing: 0.5px;
    line-height: 50px;
}

.get-card_text {
    font-family: "Inter-Regular";
    font-size: 2em;
    letter-spacing: 0.4px;
    line-height: 40px;

    text-align: right;
}

.form-input-text {
    font-family: "Inter-Regular";
    font-size: 2em;
    letter-spacing: 2%;
    line-height: 40px;
}

.line-1{
    font-family: "Inter-Regular";
    font-size: 1.5em;
    line-height: 20px;

    color: var(--white);
}
.line-link {
    color: var(--white);
}

.text-right {
    text-align: right;
}

.line-2 {
    padding-top: 14px;

    font-family: "Inter-Regular";
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 20px;

    color: var(--white);
}

.mt-5 {
    margin-top: 5px;
} 