@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Forum-Regular";
    src: url(../fonts/Forum-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark: #0C0C0E;
    --black: #000000;
    --gold: #BB945F;
    --white: #FFFFFF;
    --gray: #8E8E8E;
}

.about_button {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: var(--dark);
}
.about_button:hover {
    background-color: var(--gold);
}

.about_button-active {
    background-color: var(--gold);
}

h1 {
    font-family: "Forum-Regular", cursive;
    color: var(--white);
    font-size: 3em;
}

.menu__item {
    font-size: 2em;
}

.welcome_title { 
    font-family: "Forum-Regular";
    color: var(--white);
    font-size: 4em;

    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: "Forum-Regular";
    color: var(--dark);
    font-size: 4em;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.create-line {
    width: 50px;

    border-top: 1px solid var(--dark);
}

.text {
    font-family: "Inter-Regular";
    font-size: 2em;
}

